/* .bg-purple {
  background-color: #6a0dad;
  color: #fff;
}

.bg-purple:hover {
  background-color: #5a0c9d;
  color: #fff;
}

.loading-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;
} */

.header-content {
  height: 90px;
}
